ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin: 10px 0;
}

body{
    width: 52%;
}

li{
    list-style: none;
}

.box__bboard{
    padding: 12px 0px 12px 0px;
}

li a{
    color: #000;
    text-decoration: none;
}

li a:hover{
    color: pink;

}

.by_rubric__options li:hover{
    text-decoration: none;
    list-style: none;

}

.bboard{

}

.by_rubric__options{


}

.by_rubric__options li {

}

.bboard__title{
    margin: 0;
}

.bboard__content{
    margin: 0;
}

.bboard__timeleft{

    margin: 5px 0px 0px 0px;
}

.bboard__price{
    margin: 0;
}

.bboard__rubric{
    color:red;
    margin: 0;
}

.bboard__date{
    margin: 0 0 15px 0;


}

.title{
    padding-top: 18px;
    display: table-cell;

}

.errorlist li{
    color: red;
}
